/* Navbar */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 8%;

    background: rgba(7, 27, 28, 0.86);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-bottom: 1px solid rgba(140, 242, 192, 0.14);
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.22);
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap:10px;

    font-size:1.6rem;
    font-weight:700;
    color:#0f8f67;
    cursor:pointer;
}

.logo-icon{
    font-size:1.8rem;
    transition:.4s;
}

.logo:hover .logo-icon{
    transform:rotate(-15deg) scale(1.15);
}

/* Links */

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#eafff5;
    font-weight:500;
    transition:.3s;
    position:relative;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;

    width:0%;
    height:2px;
    background:#8cf2c0;
    transition:.35s;
}

.nav-links a:hover{
    color:#0f8f67;
}

.nav-links a:hover::after{
    width:100%;
}

/* Buttons */

.nav-buttons{
    display:flex;
    gap:15px;
}

.login-btn,
.start-btn{
    padding:10px 22px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:.95rem;
    transition:.35s;
}

.login-btn{
    background:#102d2a;
    color:#8cf2c0;
    border:2px solid #0f8f67;
}

.login-btn:hover{
    background:#0f8f67;
    color:white;
    transform:translateY(-2px);
}

.start-btn{
    background:linear-gradient(135deg,#0f8f67,#145a4c);
    color:white;
    box-shadow:0 10px 20px rgba(15,143,103,.25);
}

.start-btn:hover{
    transform:translateY(-3px) scale(1.05);
    box-shadow:0 15px 30px rgba(15,143,103,.38);
}

/* Mobile Icon */

.menu-icon{
    display:none;
    font-size:1.5rem;
    cursor:pointer;
    color:#0f8f67;
}

/* Responsive */

@media(max-width:900px){

.nav-links,
.nav-buttons{
    display:none;
}

.menu-icon{
    display:block;
}

}